//Overwrites fullcalendar default settings
// -----------------------------------------
@import 'base';

.fc button {
  height: auto;
}

.fc-day-grid-event {
  @include safe-rem(padding, 5);
  margin: 0;
}

.fc-event {
  @include safe-rem(font-size, 14);
  border-radius: 0;
}

.fc-event-container {

  &:hover {
    cursor: pointer;
  }
}
