//Overwrites fancybox default settings
// -----------------------------------------
@import 'base';

.fancybox-nav {
  background: transparent url('../../full-calendar/images/fancybox/fancybox_loading.gif');
}

.fancybox-overlay {
  background: url('../../full-calendar/images/fancybox/fancybox_overlay.png');
}

.fancybox-close {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 8040;
  display: inline-block;
  width: auto;
  height: auto;
  background-image: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  &::before {
    @include icon('\f057');
  }

}

.fancybox-skin {
  border-radius: 0;
  background: $white;
}

.fancybox-opened .fancybox-skin {
  @include base-shadow();
}

.fancybox-inner {
  // scss-lint:disable ImportantRule
  overflow: visible !important;
  // scss-lint:enable ImportantRule
}

// scss-lint:disable IdSelector
#fancy-box {
  @include safe-rem(font-size, 14);
  display: none;
}

#fancybox-loading div {
  background: url('../../full-calendar/images/fancybox/fancybox_loading.gif') center center no-repeat;
}

// scss-lint:enable IdSelector
