//Overwrites fullcalendar default settings
// -----------------------------------------
@import 'base';

a {
  &.text-black {
    color: $black;

    &:hover {
      color: rgba(0, 0, 0, .65);
    }
  }

  &.text-white {
    color: $white;

    &:hover {
      color: rgba(255, 255, 255, .65);
    }
  }
}

.event-header {
  &.text-white {
    color: $white;
  }

  &.text-black {
    color: $black;
  }
}
